# ==============================
# Requirements for Read The Docs
# ==============================
#
# The following requirements are additional dependencies that
# https://readthedocs.io needs to install so it can properly
# generate the documentation for datatest.

sphinx-tabs
sphinx_rtd_theme>=0.3.1

